
<p class="card-title">Sub Admin</p>
<div class="mt-2 mb-2">
    <a asp-controller="Account" asp-action="SubAdmin" class="btn btn-primary btn-rounded btn-fw">Add SubAdmin</a>
</div>

<div id="SubAdmins-Div">

</div>

