@{
    Layout = null;
}
@model LoginModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Authenticator</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Toastr CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
</head>
<body>


    @if (!Model.IsUserTwoFactorEnabled)
    {
        <input type="hidden" value="0" id="IsUserTwoFactorEnabled" />

        <div class="card mb-3 mt-5 shadow-lg p-3 mb-5 bg-body rounded" style="max-width: 1100px;margin:auto">
            <input type="hidden" value="@Model?.IsUserTwoFactorEnabled" id="IsUserTwoFactorEnabled" />

            <div class="row g-0">
                <div class="col-md-4">
                    <img src="@Model.BarcodeImageUrl" class="img-fluid rounded-start" />
                </div>
                <div class="col-md-8">
                    <div class="card-body py-5 px-lg-5">
                        <div class="card-title">
                            <h2>Two-Factor Authentication</h2>
                            <p class="lead">Scan the QR code with Google Authenticator app and enter the code below:</p>
                        </div>

                        <div class="input_div">
                            <div class="form-group">
                                <label asp-for="AuthenticatorCode">Enter Code from Authenticator App:</label>
                                <input type="text" class="form-control" asp-for="AuthenticatorCode" required />
                            </div>
                            <button type="button" class="btn btn-primary" id="varify_code">Verify Code</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <input type="hidden" value="1" id="IsUserTwoFactorEnabled" />

        <div class="card mb-3 mt-5 shadow-lg p-3 mb-5 bg-body rounded" style="max-width: 600px;margin:auto">

            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Two-Factor Authentication</h2>
                            <p class="lead">Go your Google Authenticator app and enter the code below:</p>
                        </div>

                        <div class="input_div">
                            <div class="form-group">
                                <label asp-for="AuthenticatorCode">Enter Code from Authenticator App:</label>
                                <input type="text" class="form-control" asp-for="AuthenticatorCode" required />
                            </div>
                            <button type="button" class="btn btn-primary" id="varify_code">Verify Code</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <!-- Google Authenticator JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script src="~/js/viewsscripts/twofactorauth.js"></script>


</body>
</html>







@* <html>
<head>
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.esm.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.esm.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/viewsscripts/twofactorauth.js"></script>
</head>
<body>
    <div class="card">
        <div class="card-title">

            <input type="hidden" value="@Model?.IsUserTwoFactorEnabled" id="IsUserTwoFactorEnabled" />

            <h2>Two-Factor Authentication</h2>

            <p class="lead">Scan the QR code with Google Authenticator app and enter the code below:</p>
        </div>
        <div class="card-body">

            <div class="row">

                @if (!Model.IsUserTwoFactorEnabled)
                {
                    <div class="col-md-4">
                        <img src="@Model.BarcodeImageUrl" width="300" height="300" />

                    </div>
                    <div class="col-md-4">
                        Manual Setup Code : @Model.SetupCode

                    </div>
                    <div class="col-md-4">
                        <div class="input_div">
                            <div class="form-group">
                                <label asp-for="AuthenticatorCode">Enter Code from Authenticator App:</label>
                                <input type="text" class="form-control" asp-for="AuthenticatorCode" required />
                            </div>
                            <button type="button" class="btn btn-primary" id="varify_code">Verify Code</button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-4">
                        <div class="input_div">
                            <div class="form-group">
                                <label asp-for="AuthenticatorCode">Enter Code from Authenticator App:</label>
                                <input type="text" class="form-control" asp-for="AuthenticatorCode" required />
                            </div>
                            <button type="button" class="btn btn-primary" id="varify_code">Verify Code</button>
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>


</body>
</html> *@


